@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

.Header img{
    width:15%;
    height: auto;
}
.Header{
    display: flex;
    align-items: center;  
    
}
.Header p{
    text-align: center;
    width:70%;
    font-size: 40px;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    
}

@media screen and (max-width:500px) {
    .Header p{
        font-size:20px;
    }
    .Header img{
        width:25%;
        height: auto;
    }
}