.ProductList {
  min-height: 30vh;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

@media screen and (max-width: 500px) {
  .ProductList {
    min-height: 40vh;
  }
}
